#tabzilla-panel.tabzilla-closed(tabindex='-1')
    #tabzilla-contents
        #tabzilla-promo
          #tabzilla-promo-fxos.snippet
            a(href='https://www.mozilla.org/firefox/os/?icn=tabz')
              h4 先承認你就是沒有人
              p 了解 g0v.tw 的更多資訊 »
        #tabzilla-nav
          ul
            li
              h2 零時政府
              div
                ul
                  li
                    a(href='http://g0v.tw/about.html') 關於
                  li
                    a(href='http://g0v.tw/manifesto.html') 宣言
            li
              h2 專案
              div
                ul
                  li
                    a(href='https://www.mozilla.org/firefox/?icn=tabz') Firefox
                  li
                    a(href='https://www.mozilla.org/thunderbird/?icn=tabz') Thunderbird
                  li
                    a(href='https://www.mozilla.org/firefox/os/?icn=tabz') Firefox OS
            li
              h2 參與我們
              div
                ul
                  li
                    a(href='https://g0v.tw/join.html') 如何參與
            li#tabzilla-search
              a(href='https://www.mozilla.org/community/directory.html?icn=tabz') 網站目錄
              form(title='搜尋 g0v 網站', role='search', action='https://www.google.com/cse')
                input(type='hidden', value='002443141534113389537:ysdmevkkknw', name='cx')
                input(type='hidden', value='FORID:0', name='cof')
                label(for='q') 搜尋
                input#q(type='search', placeholder='搜尋', name='q')
