#tabzilla-panel.tabzilla-closed(tabindex='-1')
    #tabzilla-contents
        #tabzilla-promo
          #tabzilla-promo-fxos.snippet
            a(href='https://www.mozilla.org/firefox/os/?icn=tabz')
              h4 Look ahead
              p 了解 Firefox OS 的更多資訊 »
        #tabzilla-nav
          ul
            li
              h2 Mozilla
              div
                ul
                  li
                    a(href='https://www.mozilla.org/mission/?icn=tabz') 使命
                  li
                    a(href='https://www.mozilla.org/about/?icn=tabz') 關於
                  li
                    a(href='https://www.mozilla.org/projects/?icn=tabz') 專案
                  li
                    a(href='https://support.mozilla.org/?icn=tabz') 支援
                  li
                    a(href='https://developer.mozilla.org/?icn=tabz') 開發者網路
            li
              h2 產品
              div
                ul
                  li
                    a(href='https://www.mozilla.org/firefox/?icn=tabz') Firefox
                  li
                    a(href='https://www.mozilla.org/thunderbird/?icn=tabz') Thunderbird
                  li
                    a(href='https://www.mozilla.org/firefox/os/?icn=tabz') Firefox OS
            li
              h2 創新
              div
                ul
                  li
                    a(href='https://webfwd.org/?icn=tabz') WebFWD
                  li
                    a(href='https://mozillalabs.com/?icn=tabz') Labs
                  li
                    a(href='https://webmaker.org/?icn=tabz') Webmaker
                  li
                    a(href='https://www.mozilla.org/research/?icn=tabz') Research
            li
              h2 參與我們
              div
                ul
                  li
                    a(href='https://www.mozilla.org/contribute/?icn=tabz') 志工機會
                  li
                    a(href='https://www.mozilla.org/en-US/about/careers.html?icn=tabz') 徵才啟事
                  li
                    a(href='https://www.mozilla.org/en-US/about/mozilla-spaces/?icn=tabz') 尋找我們
                  li
                    a.donate(href='https://sendto.mozilla.org/page/contribute/EOYFR2013-tabzilla?icn=tabz&source=tabzilla_donate&amount=20') 捐款支持
                  li
                    a(href='https://www.mozilla.org/about/partnerships/?icn=tabz') 成為夥伴
            li#tabzilla-search
              a(href='https://www.mozilla.org/community/directory.html?icn=tabz') 網站目錄
              form(title='搜尋 Mozilla 網站', role='search', action='https://www.google.com/cse')
                input(type='hidden', value='002443141534113389537:ysdmevkkknw', name='cx')
                input(type='hidden', value='FORID:0', name='cof')
                label(for='q') 搜尋
                input#q(type='search', placeholder='搜尋', name='q')
